*{
    margin: 0px;
    font-family: 'Taviraj', serif;
}

nav{
    background: #63B6FF;
    height: 48px;
    display: flex;
    align-items: center;
}
    
.webname-box{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    
}
.webname{
    font-size: 24px;
}

.name-box{
    /* background-color: aqua; */
    margin-top:0.5rem;
    margin-right: 3.5rem;
    margin-left: 3.5rem;
    display: flex;
    justify-content: space-between;
}
.name-user-box{
    margin-top: 1rem;
}
.name-user{
    font-size: 32px;
}

.name-img-box{
    margin-right: 6rem;
}
.img-profile{
    height: 160px;
    width: 160px;
    border-radius: 16px;
}
.middle{
    /* background-color: aqua; */
    margin: 1rem 3.5rem;
    display: flex;
    justify-content: space-between;
    height: 48vh;
}

.user-text{
    width: 70%;
    font-size: 16px;
    /* background-color: antiquewhite; */
}

.call-cen{
    display: grid;
    margin: 0px auto;


}
.call-text{
    display: flex;
    align-items: flex-end;
    margin: 0px auto;
    font-size: x-large;
}

.buton-p{
    display: flex;
    align-items: end;
}

.button-call{
    margin: 0px auto;
    border: none;
    padding: 5px 10px;
    background-color: #FFEF5B; /* Green */
    font-size: 36px;
    border-radius: 5px;
    bottom: 0%;
    cursor: pointer;
}

/* .button-call:hover{
    background-color: black;
} */


li{
    margin-bottom: 5px;
    display: flex;
}


.user-type{
    margin-right: 5px;
}